{% extends "contas/base.html" %}

{% block content %}
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">
                    <div id="msg_alert" class="container">
                        <div class="alert">
                            <a id="fechar_alert" href="#" class="close" aria-label="close">&times;</a>
                            <p style="font-size:12px;"><strong>Bloqueado!</strong> O seu saldo é insuficiente ou já realizou apostas para esta partida.</p>
                        </div>
                        </div>
                        <h2>Partidas</h2>
                        <table class="table table-bordered" id="tb_partidas">
                            {% csrf_token %}
                            {% for partida in partidas %}
                            <tr>
                                <td>{{ partida }}</td>
                                <td><input id="{{partida.id}}" name="btApostar" class="btn btn-primary"
                                           type="button" value="Apostar"/></td>
                            </tr>
                            {% endfor %}
                        </table>
                </h1>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#msg_alert').hide();

    $('#fechar_alert').click(function(){
        $('#msg_alert').hide();
    });

    $('#tb_partidas td input').click(function(){
        $.ajax({
            type: 'POST',
            url: 'apostar/',
            data:{
                csrfmiddlewaretoken:'{{ csrf_token }}',
                id_partida:$(this).attr('id')
            },
            success:function(data) {
                $(this).prop("disabled", true);
                $('#jogador_saldo').text((data["jogador"]));
                $('#msg_alert').fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").alert('close');
                });
           },
           error: function(){
                $('#msg_alert').fadeTo(2000, 500).slideUp(500, function(){
                    $("#danger-alert").alert('close');
                });
           }
        });
    });
});


</script>


{% endblock %}

