{% extends "contas/base.html" %}

{% block content %}
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">
                    <h2>Partidas</h2>
                    <div class="div-table">
                        <table class="table table-bordered" id="tb_partidas">
                            {% csrf_token %}
                            {% for partida in partidas %}
                            <tr>
                                <td>{{ partida }}</td>
                                <td><input id="{{partida.id}}" name="btApostas" class="btn btn-primary" type="submit" value="Apostar" onclick="apostar(this.getAttribute('id'))"/> </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </h1>
            </div>
        </div>
    </div>
</div>
    {% block js %}

    <script type="text/javascript">

    function apostar(element){
        console.log(element);

        ajax = new XMLHttpRequest();
        ajax.onreadystatechanged = function() {
            if(ajax.readystate == 4 && ajax.status == 200){

            }
        };

        ajax.open("POST", "apostar/"+element, true);
        ajax.send();

    }


    </script>

    {% endblock %}


{% endblock %}

