{% extends "contas/base.html" %}

{% block content %}
<div id="page-wrapper" xmlns:slice="http://www.w3.org/1999/xhtml">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">
                    <div id="msg_alert_danger" class="container">
                        <div class="alert alert-danger">
                            <a id="fechar_alert_danger" href="#" class="close" aria-label="close">&times;</a>
                            <p style="font-size:12px;"><strong>Bloqueado!</strong> O seu saldo é insuficiente ou já
                                realizou apostas para esta partida.</p>
                        </div>
                    </div>
                    <div id="msg_alert_success" class="container">
                        <div class="alert alert-success">
                            <a id="fechar_alert_success" href="#" class="close" aria-label="close">&times;</a>
                            <p style="font-size:12px;"><strong>Aposta realizada com sucesso!</strong> O valor foi
                                abatido do seu saldo.</p>
                        </div>
                    </div>
                    <h2>Partidas</h2>
                    <table class="table table-bordered" id="tb_partidas">
                        {% csrf_token %}
                        <thead>
                        <tr>
                            <th colspan="6" align="center">Partidas</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for partida in partidas %}
                                <tr>
                                    <td><span id="time_casa">{{ partida.time_casa }}</span></td>
                                    <td><span><input type="text" name="gols_casa" value="{{partida.gols_casa}}"/></span></td>
                                    <td> X </td>
                                    <td><span><input type="text" name="gols_visitante" value="{{partida.gols_visitante}}"/></span></td>
                                    <td><span id="time_visitante">{{ partida.time_visitante }}</span></td>
                                    <td>
                                        <input id="{{partida.id}}" name="btApostar" class="btn btn-primary"
                                               type="button" value="Apostar" {% if partida in partidas_jogador %} disabled="true" {% endif %} />
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </h1>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('.container').hide();

    $('#fechar_alert').click(function(){
        $('.container').hide();
    });
    
    $('#tb_partidas td input').click(function(){
        var dados = $(document)('#tb_partidas td')
    });
    
    $('#tb_partidas td input').click(function(){
        $.ajax({
            type: 'POST',
            url: 'apostar/',
            data:{
                csrfmiddlewaretoken:'{{ csrf_token }}',
                id_partida:$(this).attr('id')
            },
            success:function(data) {
                $(this).prop("disabled", true);
                $('#jogador_saldo').text((data["jogador"]));
                $('#msg_alert_success').fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").alert('close');
                });
           },
           error: function(){
                $('#msg_alert_danger').fadeTo(2000, 500).slideUp(500, function(){
                    $("#alert-danger").alert('close');
                });
           }
        });
    });
});



</script>


{% endblock %}

